
body {
    background-color: #343a40;
    display: block;
    text-align: center;
    padding: 3rem;
}

#title {
    margin: 0.5rem;
    animation: home 1.5s ease-in-out forwards;
    font-size: 2.5rem;
    color: whitesmoke;
}

#description-container {
    margin-right: 15%;
    margin-left: 15%;
    color: whitesmoke;
}

.jumbotron {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 2rem;
}

hr {
    background-color: #7c7b84;
}

@keyframes home {
    from {
        opacity: 0;
        transform: translate3d(0, -25px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.red {
    color: red;
}

.blue {
    color: rgb(6, 150, 233);
}

.green {
    color: rgb(1, 155, 1);
}